%tr
  - html_class = artist.artist_user_entries.find_by_user_id(current_user.id).track ? "label-success" : "label-default"
  %td 
    %span{class: "label #{html_class}"}
      = artist.artist_user_entries.find_by_user_id(current_user.id).track ? 'Tracked' : 'Dont tracked'
  %td= artist.name
  %td= get_track_button(artist.artist_user_entries.find_by_user_id(current_user.id).track, artist.id)
  %td= artist.mbid
  %td= image_tag artist.photo.url
  %td=l artist.created_at
  %td
    = link_to t('.destroy', :default => t("helpers.links.destroy")), artist_path(artist.artist_user_entries.find_by_user_id(current_user)), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'
  %td
    = check_box_tag artist.id