= form_tag artists_path, :remote => true, :class => 'form-horizontal', id: 'artists_form'  do 
  .control-group
    = label_tag :name, nil, :class => 'control-label'
    .controls
      = text_field_tag :name, nil, :class => 'text_field'
      %button#search_artist{'data-loading-text' => 'Загрузка...'}
        Найти
  = hidden_field_tag :mbid
  = hidden_field_tag :image
  .control-group
    = label_tag :track, false, :class => 'control-label'
    .controls
      = check_box_tag :track, true, false
  #submit_artists.form-actions
    = submit_tag 'Отправить', :class => 'btn btn-primary', 'data-loading-text' => 'Отправляю...'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), artists_path, :class => 'btn'
  #response
  #artists_search_results