- model_class = Artist
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize


= link_to t('.create', :default => t("helpers.links.new")), new_artist_path, :class => 'btn btn-primary'
= link_to t(:add_from_library), '#', :class => 'btn btn-primary', id: 'add_library_button'

= form_tag api_library_artists_path, method: :post, id: 'api_library', :remote => true do
  = label_tag 'api_id', 'Lastfm user login:'
  = text_field_tag 'api_id', nil
  = submit_tag t(:add), :confirm => t(:parsing_message)

%div#response
- if params[:search] || @artists.count > 1
  = render partial: 'search'

- if @artists.blank?
  .lead
    %h5
      = t('.empty')
- else
  %table.table.table-striped#artist_table
    %thead
      %tr
        %th= model_class.human_attribute_name(:status)
        %th= model_class.human_attribute_name(:name)
        %th= model_class.human_attribute_name(:track)
        %th= model_class.human_attribute_name(:mbid)
        %th= model_class.human_attribute_name(:photo)
        %th= model_class.human_attribute_name(:created_at)
        %th= t'.actions', :default => t("helpers.actions")
        %th
          track
    %tbody
      = render partial: "artist", collection: @artists
  = will_paginate @artists
         
