- model_class = Artist
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize


= link_to t('.create', :default => t("helpers.links.new")), new_artist_path, :class => 'btn btn-primary'
= link_to t(:add_from_library), '#', :class => 'btn btn-primary', id: 'add_library_button'

= form_tag api_library_artists_path, method: :post, id: 'api_library' do
  = label_tag 'api_id', 'Lastfm user login:'
  = text_field_tag 'api_id', nil
  = submit_tag t(:add), :confirm => t('.parsing_message')
  = link_to_or_authorize(@api_authorized, submit_tag(t('.add_from_own_library'), :confirm => t('.parsing_message'), id: 'add_from_own_library'))

%div#response
- if params[:search] || @artists.count > 1
  = render partial: 'search'

- if @artists.blank?
  .lead
    %h5
      = t('.empty')
- else
  = link_to pack_track_artists_path(), :method => :put, confirm: t('.track_confirm') do 
    %button.btn{ type: 'button' }
      = t('.track_all_library')
  %table.table.table-striped#artist_table
    %thead
      %tr
        %th= model_class.human_attribute_name(:status)
        %th= model_class.human_attribute_name(:name)
        %th= model_class.human_attribute_name(:track)
        %th= model_class.human_attribute_name(:mbid)
        %th= model_class.human_attribute_name(:photo)
        %th= model_class.human_attribute_name(:created_at)
        %th= t'.actions', :default => t("helpers.actions")
        %th
          track
          %button.btn.select_all{ type: 'button' }
            %i.icon-arrow-down{ title: t(:check_all) }
          %br
          = form_tag pack_track_artists_path(), id: 'pack_track_form', :method => :put do
            = hidden_field_tag :track, true
          %button.btn{ type: 'button', id: 'pack_track', title: t('.track_all_page_title') }
            = t('.track_all_button')
          %button.btn{ type: 'button', id: 'pack_track_none', title: t('.none_track_all_page_title') }
            = t('.track_none_button')
    %tbody
      = render partial: "artist", collection: @artists
  = will_paginate @artists
         
