- model_class = Favorite
.page-header
  %h1=model_page_title(model_class)
= link_to t('.create', :default => t("helpers.links.new")), new_favorite_path, :class => 'btn btn-primary'
= render 'parse_remote_account'  
= render partial: 'search'
  
- if @favorites.any?
  = link_to pack_track_favorites_path(), :method => :put, confirm: t('.track_confirm') do 
    %button.btn{ type: 'button' }
      = t('.track_all_library')
  %table.table.table-striped#favorite_table
    %thead
      %tr
        %th= model_class.human_attribute_name(:status)
        %th= sort_link @search, :artist_name
        %th= sort_link @search, :track
        %th= model_class.human_attribute_name(:mbid)
        %th= model_class.human_attribute_name(:photo)
        %th= sort_link @search, :artist_created_at
        %th= t'.actions', :default => t("helpers.actions")
        %th
          %button.btn.select_all{ type: 'button' }
            %i.icon-arrow-down{ title: t(:check_all) }
          %br
          = form_tag pack_track_favorites_path(), id: 'pack_track_form', :method => :put, 'data-type' => 'json', class: 'simple_remote' do
            = hidden_field_tag :track, true
          %button.btn{ type: 'button', id: 'pack_track', title: t('.track_all_page_title') }
            = t('.track_all_button')
          %button.btn{ type: 'button', id: 'pack_track_none', title: t('.none_track_all_page_title') }
            = t('.track_none_button')
    %tbody
      = render partial: "favorite", collection: @favorites
  = will_paginate @favorites
- else
  = render 'main/empty_resource'         
