- artist = recommendation.artist
%tr
  %td= image_tag artist.photo.url
  %td= artist.name
  %td= artist.year_from.nil? ? t(:none) : artist.year_from.strftime('%Y')
  %td= artist.year_to.nil? ? t(:none) : artist.year_from.strftime('%Y')
  %td= artist.listeners
  %td= l(artist.created_at)
  %td
    = link_to t('.destroy'), recommendation_path(recommendation, format: 'js'), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, remote: true, :class => 'refuse btn btn-mini btn-danger'