- model_class = Artist
%h1= model_page_title(Recommendation)

%div#response
  = render partial: 'search'

= form_tag api_parse_recommendations_path(), method: :post do
  = link_to_or_authorize(@api_authorized, submit_tag(t('.parse_recommendations'), :confirm => t('.parsing_message')))

- if @recommendations.any?
  %table.table.table-striped#artist_table
    %thead
      %tr
        %th= model_class.human_attribute_name(:photo)
        %th= model_class.human_attribute_name(:tags)
        %th= sort_link @search, :artist_name
        %th= sort_link @search, :artist_year_from
        %th= sort_link @search, :artist_year_to
        %th= sort_link @search, :artist_listeners
        %th= sort_link @search, :created_at
        %th
    %tbody
      = render @recommendations
  = will_paginate @recommendations
- else
  = render 'main/empty_resource'
         
