= form_for @concert do |f|
  - if @concert.errors.any?
    #error_explanation
      %h2= "#{pluralize(@concert.errors.count, "error")} prohibited this concert from being saved:"
      %ul
        - @concert.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :api_link
    = f.text_field :api_link
  .field
    = f.label :country
    = f.text_field :country
  .field
    = f.label :sity
    = f.text_field :sity
  .field
    = f.label :street
    = f.text_field :street
  .field
    = f.label :artist_id
    = f.number_field :artist_id
  .field
    = f.label :start_date
    = f.date_select :start_date
  .actions
    = f.submit 'Save'
