- model_class = Concert
.page-header
  %h1= model_page_title(model_class)

= render 'search'

- if @concerts.any?
  %table.table.table-striped
    %thead
      %tr
        %th
        %th= sort_link @search, :title
        %th= model_class.human_attribute_name(:description)
        %th= sort_link @search, :country
        %th= sort_link @search, :sity
        %th= model_class.human_attribute_name(:street)
        %th= sort_link @search, :artist_name
        %th= model_class.human_attribute_name(:start_date)
    %tbody
      - @concerts.each do |concert|
        %tr
          %td= image_tag concert.photo.url
          %td= link_to concert.title, concert.api_link, class: 'external '
          %td= truncate( strip_tags( concert.description ), length: 200, separator: " " )
          %td= concert.country
          %td= concert.sity
          %td= concert.street
          %td= link_to concert.artist.name, favorite_path(concert.artist)
          %td= concert.start_date
      = will_paginate @concerts
- else
  = render 'main/empty_resource'
