- model_class = Concert
.page-header
  %h1= model_page_title(model_class)

= render 'search'

- if @concerts.any?
  %table.table.table-striped
    %thead
      %tr
        %th
        %th= sort_link @search, :title
        %th= model_class.human_attribute_name(:description)
        %th= sort_link @search, :country
        %th= sort_link @search, :sity
        %th= model_class.human_attribute_name(:street)
        %th= sort_link @search, :artist_name
        %th= model_class.human_attribute_name(:start_date)
    %tbody
      = render partial: "concert", collection: @concerts
  = will_paginate @concerts
- else
  = render 'main/empty_resource'
