= form_tag schedule_logs_path, id: 'logs_form', method: :get do
  = hidden_field_tag :job_class, params[:job_class] 
  = label_tag :status, t('.status')
  = select_tag :status, options_for_select(ScheduleLog.status.values, selected: params[:status] || 'info')
  = label_tag :status, t('.date_range')
  = text_field_tag 'date_from', params[:date_from], placeholder: t(:date_from)
  = text_field_tag 'date_to', params[:date_to], placeholder: t(:date_to)
  = label_tag :per_page, t(:per_page)
  = select_tag :per_page, options_for_select((50..200).step(50), selected: params[:per_page])
  = submit_tag t(:filter)