= render partial: 'filter'

%ul{ class: "nav nav-pills" }  
  - @job_classes.each do |job|
    - html = (params[:job_class] == job.to_s) ? 'active' : '' 
    %li{class: "#{html}" }
      = link_to job, schedule_logs_path(:job_class => job)
- if @items.length > 0
  - @items.each do |item|
    - html = item.status == 'error' ? 'alert alert-error' : ''
    - html += ' long truncated' if !item.content.nil? && item.content.length > 200
    %div{ class: "#{html}" }
      = h(raw "[ #{item.status.upcase}: #{item.created_at.strftime('%H:%M:%S %d-%m-%Y')} ] #{item.content}")
  = will_paginate @items
- else 
  %h3
    No entries found
